<div class="container">
  <div class="jumbotron">
    <h1>你好,管理员!</h1>
    <p>你的身份是管理员，你可以管理用户的职务分配和订单操作，点击下面按钮进行管理</p>
    <p><%= link_to "用户管理",admin_users_path, class:"btn btn-primary btn-lg"%>
       <%= link_to "订单管理",admin_apply_records_path,class:"btn btn-primary btn-lg" %></p>
  </div>

</div>