<div class="container">
<% unless user_signed_in? %>
    <div class="masthead">
      <h3 class="text-muted">AIDSystem</h3>
      <nav>
        <ul class="nav nav-justified">
          <li><a href="#">主页</a></li>
          <li><%= link_to "订单管理" ,new_user_session_path %></li>
          <li><a href="#">艺术品查询</a></li>
          <li><a href="#">其他服务</a></li>
          <li class="active"><%= link_to "关于AID",welcome_about_us_path %></li>
          <li><%=link_to "联系我们",welcome_contact_us_path %></li>
        </ul>
      </nav>
    </div>

    <style>
        body{
            background-image:url(<%=image_path("c.jpg")%>);
            background-position: center;
        }
    </style>
<% end %>

<style>
    footer {
        background: #333;
        color: #eee;
        font-size: 11px;
        padding: 20px;
        position: absolute;
        width:100%;
        bottom: 0;
    }
</style>
<div id="templatemo_content_wrapper">


    <div class="cleaner"></div>
  </div>
  <!-- end of sidebar -->

  <div id="templatemo_content">
    <h2 id="group">
      团队介绍
    </h2>
    <p>
    <ul>
      <li>
        朱建国 <em>总经理</em>
      </li>
    </ul>
    <p style="font-size:14px;">
      &nbsp;&nbsp;&nbsp;&nbsp;上海交通大学电路与系统博士，拥有多年的系统开发及项目管理经验。2000-2005，创建上海海尔 集成电路有限公司并出任副               总经理，负责全面的运营管理，在职期间公司开发出了两款 MCU 核心芯片，以 800 万人民币投入成功融资4000万人民币；2006-2007，被上海贝岭股份有限公司聘任为商务总监及产品总部运营总监，具体负责六条产品线的运营管理，公司产品销售额上升到 2.7 亿。
    </p>
    <ul>
      <li>
        张小军 <em>技术总监</em>
      </li>
    </ul>
    <p style="font-size:14px;">
      &nbsp;&nbsp;&nbsp;&nbsp; 上海交通大学硕士，拥有多年的软件开发及项目管理经验，对于 IT 架构、计算机软件、网络、数据库及数字图像处理等系统的开                发和维护有自己独特的见解。曾在多个软件开发项目中担任领队，2005-2007年在上海圣途教育咨询公司担任技术经理期间，独立完                成了公司所有软件产品的设计与架构。
    </p>
  </div>
  <!-- end of templatemo_content -->

  <div class="cleaner"></div>
</div>
</div>

