
<div class="container">

  <div class="masthead">
    <h3 class="text-muted">AIDSystem</h3>
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><a href="#">主页</a></li>
        <li><%= link_to "订单管理" ,new_user_session_path %></li>
        <li><a href="#">艺术品查询</a></li>
        <li><a href="#">其他服务</a></li>
        <li><a href="#">关于AID</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </nav>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>AID管理系统</h1>
    <p class="lead">AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的</p>
    <p><%= link_to "开始",new_user_session_path,:class =>"btn btn-lg btn-success"  %></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>最新动态!</h2>
      <p class="text-danger">AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的</p>
      <p><a class="btn btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>标题</h2>
      <p>AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的 </p>
      <p><a class="btn btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>标题</h2>
      <p>AID系统是一个关于艺术品鉴别与管理的系统,这个系统的作用是管理艺术品鉴别的订单，整个系统由很多部分组成,现在只实现了基本的订单管理的</p>
      <p><a class="btn btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
    </div>
  </div>

  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; AIDCompany 2014</p>
  </footer>

</div> <!-- /container -->
